<!-- Modal -->
<div class="modal fade" id="modal_add_doctor" tabindex="-1" role="dialog" aria-labelledby="modal_add_doctor_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_add_doctor_label">Add doctor</h4>
            </div>
            <div class="modal-body">
                <form method="post" action={{url_for('main.add_doctor') }} name="add_doctor", class="form-horizontal", role="form">
                    {{ form_adddoctor.hidden_tag() }}
                    <div class="form-group">
                        {{ form_adddoctor.fname.label() }}
                        {{ form_adddoctor.fname() }}
                    </div>
                    <div class="form-group">
                        {{ form_adddoctor.lname.label() }}
                        {{ form_adddoctor.lname() }}
                    </div>
                    <div class="form-group">
                        {{ form_adddoctor.phone.label() }}
                        {{ form_adddoctor.phone() }}
                    </div>
                    <div class="form-group">
                        {{ form_adddoctor.fax.label() }}
                        {{ form_adddoctor.fax() }}
                    </div>
                    <div class="form-group">
                        {{ form_adddoctor.email.label() }}
                        {{ form_adddoctor.email() }}
                    </div>
                    <div class="form-group">
                        {{ form_adddoctor.prefered_contact.label() }}
                        {{ form_adddoctor.prefered_contact() }}
                    </div>
                    {{ form_adddoctor.submit() }}
                </form>
            </div>
        </div>
    </div>
</div>