.form-control-inline{
    min-width:0;
    width: auto !important;
    display: inline !important;
}

.form-control-fullwidth{
    width: 90%;
}

.erg-form{
    display: flex;
    flex: 1 0 auto;
}

.erg-input{
    width: 100%;
}